pyspark
numpy
pandas
matplotlib
psutil
pyarrow
scikit-learn
seaborn
binsreg
xgboost
setuptools
pathlib
joblib
sentence_transformers
pymupdf
torch
torchvision
torchaudio
transformers
scipy
statsmodels
yfinance